* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #212121;
    font-family: Roboto, sans-serif;
}

body {
    background: #e7e7e7;
}

header a {
    color: white;
}

.content-wrapper {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form {
    background: aliceblue;
    padding: 40px;
    display: flex;
    flex-direction: column;
}


